pytest
pytest-mpl
flake8
flake8-tabs >= 2.3.2
flake8-builtins
flake8-logging-format
numpy == 1.21.4
scipy == 1.7.3
matplotlib == 3.5.2
astropy == 5.1.0 ; python_version > '3.7'
astropy == 4.3.1 ; python_version <= '3.7'
PyYAML
photutils == 1.3.0
Bottleneck == 1.3.4
h5py >= 2.9.0
scikit-image == 0.19.2
scikit-learn == 1.0.2
statsmodels == 0.13.2
opencv-python-headless == 4.5.5.64
psycopg2-binary
requests >= 2.5
responses
httpretty
astroquery >= 0.4 # Needed for halophot
autograd == 1.4 # Needed for halophot
future == 0.16.0 # Needed for halophot
halophot == 0.7.4
jplephem >= 2.9
spiceypy == 5.0.1
